/* There's some alternative styles that are used by other buttons in the page */
.button {
	display: inline-block;
	background-color: #7575DA;
	color: #ffffff;
    font-weight: 600;
    text-decoration: none;
	margin: 10px;
	padding: 20px 30px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 5px 20px 0px rgba(58, 79, 97, 0.2);
	transition: all 0.3s ease-in-out;
}

.btn-2 {
	background-color: #ffffff;
	color: #111111;
}

.btn-3 {
	color: #393689;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: #7575DA;
}

.button:hover {
	background-color: #393689;
	color: #ffffff;
}

.btn-3:hover {
	background-color: #7575DA;
}