.companies-swiper .swiper-container {
    margin-top: 70px;
    margin-bottom: 70px;
}

/* Color for the paginagion bullet */
.companies-swiper .swiper-pagination-bullet-active {
	opacity: 1;
	background: #000000;
}

/* Color for the navigation arrows */
.companies-swiper .swiper-button-prev, .companies-swiper .swiper-button-next {
	color: hsla(0,0%,93.3%,.9);
}

.companies-swiper .swiper-button-prev.swiper-button-disabled, .companies-swiper .swiper-button-next.swiper-button-disabled {
	opacity: 1;
	cursor: auto;
	pointer-events: none;
}