.button-app-store {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7575DA;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    margin: 10px;
    padding: 20px 30px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 5px 20px 0px rgba(58, 79, 97, 0.2);
    transition: all 0.3s ease-in-out;
}

.button-app-store:hover {
	background-color: #393689;
	color: #ffffff;
}

.button-app-store .store_icon {
    font-size: 50px;
    margin-right: 30px;
}

.button-app-store p {
    margin: 0;
    line-height: 1.5rem;
}