.tools-wrapper {
	background-color: #F6F8FD;
	background-image: url("./bg_tools.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.tools .row {
    display: flex;
}

.tools .col {
    width: 33.333%;
}

.tools .item {
    display: flex;
}

.tools svg {
    width: 36px;
    height: 36px;
}