.tools .icon > img {
    max-width: none;
}

.tools .description > p {
    margin: 0;
    margin-bottom: 1em;
}

.tools .row {
    display: flex;
}

.tools .col {
    width: 33.333%;
}

.tools .item {
    display: flex;
}

.tools svg {
    width: 36px;
    height: 36px;
}