.tools .icon > img {
    max-width: none;
}

.tools .description > p {
    margin: 0;
    margin-bottom: 1em;
}

.tools .row {
    display: flex;
}

.tools .col {
    width: 33.333%;
}

.tools .item {
    display: flex;
}

.tools .icon {
    display: flex;
    align-items: center;
    background-color: steelblue;
    border-radius: 50%;
    margin: auto;
    padding: 20px;
}

.tools svg {
    width: 36px;
    height: 36px;
}