.a-tools.content {
    display: flex;
}

.a-tools .image {
    display: flex;
    align-self: center;
    width: 50%;
}

.a-tools .description {
    width: 50%;
}

.a-tools .margin-wrapper {
    margin-left: 30px;
}

.a-tools .image img {
    max-width: 100%;
    
}


/* Style for collapsible elements */

.a-tools .Collapsible__trigger {
    display:inline-block;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
}

.a-tools .wrapper {
    margin-top: 9px;
    margin-bottom: 9px;
}

.a-tools .Collapsible__trigger span {
    display:flex;
    transition: all 0.3s ease-in-out;
}

.a-tools .Collapsible__trigger.is-open span {
    color: #393689;
}

.a-tools .description hr {
    border: 0;
    border-top: 1px solid #EBEBEB;
}


/* Style for + and - icons */

.a-tools .minus {
    margin-left: auto;
}

.a-tools .plus {
    margin-left: auto;
}

.a-tools .is-closed .minus {
    display: none;
}

.a-tools .is-open .plus {
    display: none;
}