.icon > img {
    max-width: none;
}

.description > p {
    margin: 0;
    margin-bottom: 1em;
}









.solutions .row {
    display: flex;
}

.solutions .col {
    width: 33.333%;
}

.solutions .item {
    display: flex;
}

.solutions .icon {
    background-color: steelblue;
    border-radius: 50%;
    padding: 25px;
    margin-right: 15px;
    fill: #393689;
    background-color: #FFF2E7;
    transition: all 0.3s ease-in-out;
}

.solutions .icon2 {
    background-color: #E4F3FF;;
}

.solutions .icon:hover {
    fill: #ffffff;
    background-color: #393689;
}

.solutions svg {
    width: 32px;
    height: 32px;
}