.solutions .row {
    display: flex;
    line-height: 2rem;
}

.solutions .col {
    width: 33.333%;
}

/* The original site has a different ItemBox style for <767px, but I think it is worse */
@media only screen and (max-width: 1024px) {
    
    .solutions .row {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .solutions .col {
        width: auto;
    }
}