.intro p {
    margin-left: 150px;
    margin-right: 150px;
    line-height: 2rem;
}

.intro.container {
    padding-top: 80px;
}

.intro .button {
    display: inline-block;  
    background-color: #7575DA;
    color: #ffffff;
    font-weight: 600;
    margin: 10px;
    padding: 20px 30px;
    border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 5px 20px 0px rgba(58, 79, 97, 0.2);
    transition: all 0.3s ease-in-out;
}

.intro .button:hover {
    background-color: #393689;
    color: #ffffff;
}

.intro .btn-2 {
    background-color: #ffffff;
    color: #111111;
}