.button-google-play {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #7575da;
    font-weight: 600;
    text-decoration: none;
    margin: 10px;
    padding: 20px 30px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 5px 20px 0px rgba(58, 79, 97, 0.2);
    transition: all 0.3s ease-in-out;
}

.button-google-play:hover {
	background-color: #393689;
	color: #ffffff;
}

.button-google-play .store_icon {
    font-size: 50px;
    margin-right: 30px;
}

.button-google-play p {
    margin: 0;
    line-height: 1.5rem;
}